.ListeDossiers {
  display: flex;
  list-style: none;
  padding: 10px 20px;
  justify-content: center;
  flex-wrap: wrap;
}
.ListeVide{

  background-color: rgb(10, 67, 224);
  color: white;
  font-size: 6em;
  height: 20wh;
  width:20vw;
  text-align:center;
}